
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/
    
    #pageWrapper {
        background:white !important;
    }
    
    .mainDropDown:hover .mainDropDown-content {
        display: none !important;
    }

    #loginWindow {
        width: inherit !important;
        
        padding: 8px !important;
    }

    #middle {
        display:block  !important;
        flex-direction: column;
        width:100% !important;
        padding: 8px !important;
        box-sizing: border-box;
    }

    .imgFlex {
        display: none;
    }

    #topContent {
        width: inherit !important;
        
    }
    #blackMenu {
        display: none !important;
    }

    #mainmenu {
        width:inherit !important;
    }
    #mainmenu > ul {
        justify-content: flex-start !important;
        flex-wrap: wrap;
    }
    #mainmenu > ul > a {
        margin:3px;
    }
    #mainmenu > ul > a > li > img{
        /*display:none;*/
    }
    
    .mainDropDown {
        margin: 5px;
    }



/*    #mobile_liga {
        display:inline !important;
    }

    #desktop_liga {
        display:none;
    }*/

    #contentWindow {
        min-width: 320px !important;
        width: 100%;
    }

    #leftMenu {
        display: flex;
    }

    #leftMenu > div {
        margin:5px;
    }
    
    #blackLeftInfo {
        width:100%;
        flex-direction: row !important;
        min-height:0 !important;
        padding: 3px 11px !important;
    }
    
    .playerAvatar {
    height:32px !important;
}

    
    #blackLeftInfo > div {
        min-width:100px;
    }
    
    #leftMenu {
        min-width:100% !important;
    }
    


    .select_car {
        width: 100px !important;
        height: 24px !important;
    }

    #contentWindow > ul > li > a > img {
        width:30px;
    }
}

@media only screen and (max-width: 480px) {

    #always {
        display:none;
    }
    
}