html, body {
    margin:0;
    padding:0;
    height:100%;

    /* Footer Padding */
}

body {
    font-family: Roboto;
    font-size:13px;
}
form input {
    margin-bottom:3px;
    margin-top: 3px;
}

noscript {
    font-weight:bold;
}

.h1 {
    display:block;
    width:100%;
    margin-bottom:5px;
    padding:5px 0;
    font-size:23px;
    font-weight:bold;
    background:#D2EFE9;
    text-align:center;
    border-radius:2px;
}

h2 {
    padding:0;
    margin:0;
    font-family: Kodchasan;
}

#whiteBGWrapper {
    width:850px;
    margin:15px auto;
    background:white;
    padding: 15px 10px;
    border-radius:3px;
}


.pageInfo {
    display:none;
    background-color: #E2F6FF;
    border: 1px solid #CACACA;
    text-align: justify;
    text-align-last: center;
    -moz-text-align-last: center;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 3px -3px;
    margin-bottom: 3px;
}

.pageInfo:before {
    content: url(img/info.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 4px;
}

#topBar	{
    width:100%;
    height:35px;
    background-color:#232323;
    color:white;
    text-align:left;
    font-size:29px;
    padding:5px 0;
}

#topContent {
    width:800px;
    margin:auto;
    background: #484848;
    padding: 0px 5px;
    position:relative;
    box-sizing: border-box;
}

#blackMenu {
    display:inline-block;
    position:absolute;
    right:5px;
    /*text-transform: lowercase;*/
    color:white;

}

#mainMenuWrapper {
    padding: 20px;
    width: 100%;
    /* background-color: lightgrey; */
    /* background-color: #e0e0e0; */
    box-sizing: border-box;
    background-image: url(img/pattern/bright1.png); 
    background-repeat: repeat; 
    /* border-bottom: 1px solid #efefef; */

}

#mainmenu {
    width:800px;
    margin: auto;
    font-family: Roboto;
    font-size:12px;
}

#mainmenu ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:0;
}

#mainmenu ul li {
    text-align: center;
    width: 45px;
    /* border-radius: 3px; */
    background: #ffffff;
    /* box-shadow: inset 0px 0px 7px -4px black; */
    padding: 4px;
    border: 1px solid #efefef;
    border-radius: 3px;

}

#mainmenu ul li:hover {
    box-shadow: 0px 1px 5px -2px black;
}

#mainmenu ul a {
    text-decoration: none;
}

#mainmenu ul li img {
    width:28px;
    height:28px;
    margin:auto;
    display:block;
    padding-bottom: 3px;
}

#loginWindow {
    font-size:20px;
    width:800px;
    margin:20px auto 60px auto;
}

#middle {
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-height: 100px;
    margin: auto;
    margin-bottom: 60px;
}
/*
TABS FOR MAIN MENU
*/

#mainMenuWrapper {
    padding: 5px;
    width: 100%;
    /* background-color: lightgrey; */
    /* background-color: #e0e0e0; */
    box-sizing: border-box;
    /* border-bottom: 1px solid #efefef; */

}

#tabsWrapperMain {
    width:800px;
    margin:auto;
    margin-top: 10px;
}

#tabsMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#tabsMain span {
    position:relative;
    display: block;
    padding: 11px 0px;
    font-weight: 600;
    text-align: center;
}

#tabsMain a {
    flex: 1;
}

#tabsMain img {
    width:28px;
    height:28px;
    margin:auto;
    display:block;
    padding-bottom: 3px;
}

#tabsMain .sub_active {
    border-bottom: 1px solid white !important;

}

#tabsMain .tab_badge, #tabs .tab_badge {
    top: 4px;
    right: 17px;
    position: absolute;
    border-radius: 10px;
    /* height: 14px; */
    min-width: 13px;
    color: white;
    background-color:  #e24932;
    border: 1px solid #d4d4d4;
    box-shadow: 1px 1px 3px -2px black;
    padding: 3px;
    font-size: 10px;
}

#tabsMain .sub_inactive .tab_badge, #tabs .sub_inactive .tab_badge {
    background-color: #c38177;
}

/*
TABS FOR SUB MENU + some for main menu 
*/

#tabsWrapper {
    margin-bottom: 10px;
}

#tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#tabs a, #tabsMain a {
    display: block;
    color: #8c8c8c;
    /* box-sizing: border-box; */
    font-size: 16px;
    /* font-family: Kad; */
    font-family: Kodchasan;
    transition: 0.1s;
}

#tabs a:hover, #tabsMain a:hover {
    color: #676767;
}

#tabs span {
    position:relative;
    display: block;
    padding: 15px 19px;
    font-weight: 600;
    text-align: center;
}

#tabs .sub_active, #tabsMain .sub_active {
    background-color: inherit !important;
    border-radius:3px;
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid whitesmoke;

    background-image: url(img/pattern/bright1.png); 
    background-repeat: repeat; 
}

#tabs .tab_badge {
    top: 2px;
    right: 3px;
}

.bottomLine {
    height:1px;
    width:100%;
    border-top: 1px solid #dfdfdf;
    margin-top: -1px;
}

/*
    TABS ENDE
*/

#guestInfo {
    width: 800px;
    min-height: 60px;
    background-color: #ffd6d6;
    border: 1px #d65353 solid;
    padding: 8px;
    color: #8e2929;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 auto 10px auto;
}

#leftMenu {
    /*min-height:100%;*/
    margin-right:0;
    display:flex;
    max-width:22%;
    flex:1;
}

#leftMenu a:link, #leftMenu a:visited {
    color:black;
}

#leftMenu a:hover {
    text-decoration: underline;
}

#contentWindow {
    flex: 1;
    min-width: 573px;
    min-height: 100px;
    margin-top: 10px;
    background-color: #fbfbfb;
    /* border: 1px solid white; */
    padding: 10px;
    font-family: Kodchasan;
    font-size: 16px;
    box-shadow: inset 1px 1px 13px -9px black;
    border-radius: 2px;
}

#blackLeftInfo {
    min-height: 350px;
    padding-bottom: 50px;
    font-size: 20px;
    background: #272727;
    border-radius: 3px;
    color: #fbfbfb;
    padding: 10px;
    margin: 10px 10px 0 0;
    box-shadow: 0px 0px 0px 0px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2f2f2f, 2px 5px 7px 5px rgba(0,0,0,0);
    box-sizing: border-box;

    border: 3px solid #717171;
    width: 100%;

    background-image: url("img/pattern/dark2.png");
    background-repeat: repeat;

}

#playerData {
    text-align:center;
    padding: 10px 2px;
}

#blackButtons {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#blackButtons div {
    position:relative;
    width: 34px;
    height: 34px;
    background-color: rgba(155,71,71,1);
    padding: 4px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blackButtons div:hover {
    background-color:rgba(155,76,76,1);
    box-shadow: 2px 2px 11px -4px inset black;
}

#blackButtons img {
    height:30px;
}

.badge {
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 30%;
    bottom: -3px;
    right: -3px;
    font-size: .8em;
    display: inline-block;
    /* min-width: 1.1em; */
    padding: 0.3em;
    border-radius: 50%;
    font-size: 0.6rem;
    text-align: center;
    background: #1779ba;
    color: #fefefe;
}

.badge.alert {
    background: #3c9a24;
    color: #fefefe;
}

#blackStats {
    margin: 5px;
    display:flex;
    flex-direction: column;
}

#blackStats img {
    width:32px;
}

.blackOutput {
    background-color: #9b4646;
    box-shadow: 2px 2px 11px -4px inset black;
    font-family: Kodchasan;
    font-size: 15px;
    overflow: hidden;
    padding: 4px 7px;
    border-radius: 7px;
    margin: 0 5px;
    width: 100%;
    text-align:right;
}



.vertical-align {
    display:flex;
    align-items: center;
}

#player-info {
    width: 200px;
    background: #f7f7f7;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    border: 1px solid grey;
}

.playername {
    font-weight:300;
}

.playerLiga {
    position:absolute;
    top:8px;
    right:8px;
}

.playerLiga img {
    width:30px;
}

#submenu {
    width:220px;
    margin:10px 0;
}

#submenu ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

#submenu ul a {
    margin-bottom:5px;
    display:block;
}

#submenu ul a:link, #submenu ul a:visited {
    color:white;
    text-decoration:none;
}

#submenu ul li:hover {
    margin-left:5px;
    transition:0.2s;
}

#submenu ul li{
    background: #E42A94;
    padding:5px;
}

/*
*   DropDown MainMenu
*/

.mainDropDown {
    position:relative;

}

.mainDropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.mainDropDown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mainDropDown:hover .mainDropDown-content {
    display: block;
}

.mainDropDown a:hover {
    background-color: #f1f1f1
}

.rumblerace {
    color:white;
    font-weight:bold;
    font-family:Roboto;
}

.sub_active {
    background-color:#800C4E !important;
    margin-left:5px;
}

.colored {
    color:#E42A94;
}

#footer {
    width:100%;
    height:33px;
    background:lightgrey;
    position:fixed;
    bottom:0;
    border-top: 1px solid #AFAFAF;
    box-shadow: 0px -2px 13px -7px;
    z-index:10;
}

#footerMiddle {
    width:800px;
    margin:auto;
    padding:10px 0;
    position:relative;
}

#footer-lang {
    position:absolute;
    right:0;
    top:8px;
}

.langSubmit {
    width:16px;
    height:11px;
    border:none;
    cursor:pointer;
}

.textCenter {
    text-align: center;
}

a:link, a:visited {
    text-decoration:none;
}

.brightLink:link, .brightLink:visited {
    color:lightgrey;
    text-decoration:underline;
}

#pageWrapper {
    min-height:100%;
    box-sizing:border-box;
    padding-bottom: 100px;
    position:relative;
    /*
    background-image: url("img/pattern/bright1.png");
    background-repeat: repeat;*/
    background: url(img/pattern/bg2.jpg) no-repeat center center fixed; 
    background-size: cover;

}

.parallax-window {
    min-height: 100vh;
    background: transparent;
}


footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background:#e0e0e0; 
    left:0;
}

#always {
    width: 50%;
    height:100%;
    align-items: center;
    min-width: 300px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#always > div {
    flex-grow: 1;
}

#always ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

#always ul a {
    margin-bottom:5px;
    display:block;
}

#always ul a:link, #always ul a:visited {
    color:white;
    text-decoration:none;
}

#always ul li:hover {
    transition:0.5s;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);

}

#always ul li{
    background: rgba(2, 1, 1, 0.14) !important;
    padding: 5px;
    color: black;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.38);
}

.stats {
    vertical-align: middle;
    font-size: 15px;
    letter-spacing: -1px;
}

.stats img {
    width:13px;
    height:13px;
}

.link:active, .link:visited, .link:link {
    color:white;
}
.link:hover {
    color:lightgrey;
}

.infoPop {
    cursor: pointer;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#faqs {
    margin-top:15px;
    padding:3px;
}

.question {
    font-size: 18px;
    font-weight:bold;
    margin-top:20px;
}

.absLiga {
    position:absolute;
    right:6px;
    top:6px;
}

#driverNameChange {
    cursor:pointer;
    color:#E42A94;
}

#driverNameInput input {
    /* background-color: black; */
    font-family: Roboto;
    font-size: 0.9em;
    font-weight: bold;
}

#smallHeader {
    font-weight: 100;
    font-size: 25px;
}

#smallHeader .gr {
    color:#ea4fa8;
}

#smallHeader .it {
    font-style:italic;
    color: #9a9a9a;
}

.sizeNormal {
    font-size:13px;
}

.center {
    text-align:center;
}

.stat_td {
    width:10%;
}

.stat_tdx2 {
    width:20%;
}

.onoffswitch {
    display:inline-block;
    position: relative; width: 88px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 9px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 31px; padding: 0; line-height: 31px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #901094; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #a5a5a5;
    color: #4c4c4c;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #FFFFF; border-radius: 9px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.switches {
    padding: 8px;
    border-radius: 3px;
    background: rgba(249, 249, 249, 0.85);
}

.switchUnit {
    font-size:25px;
    font-weight:bold;
    display:flex;
    justify-content: space-between;
    padding:5px;
    vertical-align:middle;
}

.switchUnit:nth-child(odd) {
    background-color:#d2d2d2; 
}
.switchUnit:nth-child(even) {
    background-color:#f1f1f1; 
}

.buttonTopRight {
    position:absolute;
    top:10px;
    right:8px;
}

.bigForm input[type=submit] {
    padding:5px 15px; 
    color:white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 4px; 
    text-transform: uppercase;
    background: #a90329;
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.bigForm input[type=submit]:hover {
    background: #dd2339;
    background: -moz-linear-gradient(top,  #dd2339 0%, #ad142b 44%, #84002e 100%);
    background: -webkit-linear-gradient(top,  #dd2339 0%,#ad142b 44%,#84002e 100%);
    background: linear-gradient(to bottom,  #dd2339 0%,#ad142b 44%,#84002e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2339', endColorstr='#84002e',GradientType=0 );
}

.bigForm input {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bigForm input:focus {
    border-color:#333;
}

/*
     SELECT SYTLES
*/

select:disabled,
select[disabled]{
  cursor:not-allowed;
}